.button {
    @include palette();
    @include palette("border-color");
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    cursor: pointer;
    border-radius: var(--border-radius);
    border-width: 2px;
    border-style: solid;
    transition: all 0.2s;
    display: inline-block; // For a tags disguised as buttons
    font-size: 1em;
    font-weight: 700;

    &--primary {
        color: $light;

        &:hover {
            border-color: $light;
            background: $light;
            color: $primary;
        }
    }

    &--secondary {
        color: $light;

        &:hover {
            border-color: $light;
            background: $light;
            color: $secondary;
        }
    }
}
