.experience {
    margin-bottom: 80px;

    &-logo {
        float: right;
        max-height: 90px;
        max-width: 150px;
        margin: 0 50px 20px 20px;
    }

    &-illustration {
        display: block;
        max-height: 400px;
        max-width: 600px;
        z-index: -1;
        margin: auto;
    }

    &-title {
        display: flex;
        gap: 0.5em;
        align-items: baseline;
    }

    &-company {
        font-size: 0.8em;
    }

    &-duration {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 1.2rem;
        font-weight: 500;
    }
    
    &-localisation {
        // &::before {
        //     content: ' - ';
        // }
    }

    &-about {
        margin-top: 0.6rem;
        font-size: 1.1em;
    }
    
    &-list {
        margin-top: 0.25rem;
        margin-left: 2rem;

        &-item {
            list-style-type: '- ';
            font-style: italic;
            font-size: 0.9em;

            &::marker {
                padding-right: 6px;
            }
        }
    }

    &-note {
        margin-top: 0.25rem;
        font-size: 0.9em;
        font-weight:500;
    }

    &-tools {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 1.5rem;
        flex-wrap: wrap;

        &-item {
            max-width: 20px;
            max-height: 20px;
        }
    }
}

@media all and (max-width: $responsive) {
    .experience {
        margin-bottom: 40px;

        &-logo {
            max-height: 50px;
            max-width: 80px;
            margin: 0 0 10px 10px;
        }

        &-title {
            flex-direction: column;
            gap: initial;
        }

        &-company {
            font-size: inherit;
        }

        &-duration {
            flex-direction: column;
            align-items: initial;
        }

        &-list {
            margin-left: 30px;

            &-item {
                font-size: 0.8em;
            }
        }

        &-tools {
            &-item {
                max-width: 18px;
                max-height: 18px;
            }
        }
    }
}
