.paragraph {
    text-align: justify;

    &--big {
        font-size: 1.2rem;
    }

    & + & {
        margin-top: 1.6rem;
    }
}

@media all and (max-width: $responsive) {
    .paragraph {
        text-align: left;

        &--big {
            font-size: 1rem;
        }
    }
}
