.tag {
    $offset: 15px;

    display: inline-block;
    position: relative;
    font-size: 15px;
    border-radius: var(--border-radius);
    background: $light;
    padding: 5px 10px;
    color: $primary;
    margin-top: $offset;
    margin-right: $offset;

    &:hover {
        background: $secondary;
        color: $light;

        .tag-image {
            z-index: -1;
            right: 0px;
            top: 0px;
            opacity: 0;
        }
    }

    &-image {
        transition: right, top, opacity, 0.2s;
        max-width: 30px;
        max-height: 30px;
        position: absolute;
        right: -$offset;
        top: -$offset;
        pointer-events: none;
    }
}

@media all and (max-width: $responsive) {
    .tag {
        font-size: 0.9em;

        &-image {
            max-width: 24px;
            max-height: 24px;
            right: auto;
        }
    }
}
