// Red & White theme
// $black: #1e1e1e;
// $code: #36393f;
// $cream: #f2f2f2;
// $grey: #9194af;
// $marine: #313773;
// $orange: #e58141;
// $purple: #5662e8;
// $red: #AB3134;
// $white: #ffffff;

// Grey theme
// $grey-1: #dbdff1;
// $grey-2: #edf1fd;
// $grey-3: #f5f6fc;

// Candy theme
$liquorice: #1e1e1e;
$wheat: #e8dbdb;
$cottonCandy: #e8afcf;
$violet: #5662e8;
$violetStrong: #424eda;
$violetLight: #747ef2;
$peps: #ed3660;
$carensac: #f5f6fc;
$shadow: rgba(50, 50, 50, 0.2);
$shadowStrong: rgba(20, 20, 20, 0.6);
