// Grey theme
// $grey-1: #dbdff1;
// $grey-2: #edf1fd;
// $grey-3: #f5f6fc;

// Candy theme
$primary: $peps;
$secondary: $violet;
$secondaryStrong: $violetStrong;
$secondaryLight: $violetLight;
$tertiary: $cottonCandy;
$quaternary: $wheat;
$dark: $liquorice;
$light: $carensac;
