:root {
    --page-width: 1020px;
    --nav-button-padding-vertical: 16px;
    --nav-button-padding-horizontal: 20px;
    --border-radius: 2rem;
}

@media all and (max-width: $responsive) {
    :root {
        --page-width: 640px;
        --nav-button-padding-horizontal: 8px;
    }
}

$barWidth: 35%;
$zIndexSeparator: 1;
$zIndexPhoto: $zIndexSeparator + 1;
$zIndexNav: $zIndexPhoto + 1;
