@import "partials/gatherer";

/***** MAIN ****/

body {
	font-family: 'main-font';
	color: $black;
}

#page-width {
	// width: $page-width;
	// width: 100vw;
	width: 100%;
	// margin: 0 auto;
	@include box-shadow();
	position: relative;
	overflow: hidden !important;
}

/***** NAV ****/

nav {
	width: 100%;
	height: 50px;
	background-color: $red;
	color: $white;
	
	letter-spacing: 3px;
	position: fixed;

	top: -50px;
	z-index: 10;

	font-family: 'headline-font' !important;

	@include box-shadow();
	
	#nav-burger {
		display: none;
	}

	ul {	
		width: $page-width;
		max-width: $page-width;
		margin: 0 auto;
		text-align: center;
		text-transform: uppercase;
		position: relative;	

		li {
			display: inline-block;
			width: auto;
			height: 35px;

			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;

			@include ease(0.2s);

			&:last-child{}

			&:hover{
				-webkit-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
				-moz-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
				box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
				cursor: pointer;
			}
			&:active {
				-webkit-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
				-moz-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
				box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
				cursor: pointer;
			}
		}
	}
}

#home {
	padding-bottom: 280px;
}

/***** HEADER ****/

header{
	margin-bottom: 300px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'headline-font';
	letter-spacing: 4px;
	margin-top: 280px;
	// height: 17vh;

	.red-bar-top, .red-bar-bottom{
		width: $barWidth;
		position: absolute;
		opacity: 0;
	}

	.red-bar-top{
		border-bottom: solid $red 5px;
		left: 0;
	}

	.red-bar-bottom{
		border-top: solid $red 5px;
		right: 0;
	}

	h1{
		font-size: 3.6em;
		padding-top: 20px;
	}

	h2{
		font-size: 2.8em;
		margin-bottom: 18px;
	}

}

/***** SECTION TRANSITION ****/

// Directly using svg in the DOM causes top aliasing effect...

.arrow {
	background-repeat: no-repeat;
	background-position-x: right;
	height: $arrowSize;

	&.arrow-red {
		background-image: url("../img/arrow-red.svg");
	}
	&.arrow-orange {
		background-image: url("../img/arrow-orange.svg");
	}
	&.arrow-white {
		background-image: url("../img/arrow-white.svg");
	}
	&.arrow-black {
		background-image: url("../img/arrow-black.svg");
	}
}

// .arrow-wrapper {
// 	display: flex;
// 	justify-content: flex-end;
// 	position: relative;
// 	z-index: 1;
// 	margin-bottom: -$arrowSize;
// 	.arrow {
// 		width: 1080px;
// 		&.arrow-red {
// 			fill: $red;
// 		}
// 		&.arrow-orange {
// 			fill: $orange;
// 		}
// 		&.arrow-white {
// 			fill: $white;
// 		}
// 		&.arrow-black {
// 			fill: $black;
// 		}
// 	}
// }

/***** CONTENT ****/

.red{
	background-color: $red;
	color: $cream;
	li {
		color: $orange;
		.experience-item {
			color: $cream;
			.item-title, .key-word {
				color: $orange;
			}
		}
	}
}

.white{
	background-color: $white;
	li {
		color: $red;
		.experience-item {
			color: $black;
			.item-title, .key-word {
				color: $red;
			}
		}
	}
}

.black{
	background-color: $black;
	color: $cream;
	.achievement-item {
		color: $cream;
		.item-title, .key-word {
			color: $red;
		}
	}
}

.alpha{
	background-color: transparent;
	li {
		color: $red;
		.experience-item {
			color: $black;
			.item-title, .key-word {
				color: $white;
			}
		}
	}
}

section{
	// padding: 50px 50px;
	position: relative;

	.content {
		padding: 80px 20vw;
	
		h3{
			font-family: 'headline-font';
			text-transform: uppercase;
			font-size: 3em;
			margin: -40px 0 40px 0;
			text-align: left;
		}
	
		h4{
			font-family: 'headline-font';
			font-size: 1.8em;
			font-weight: 400;
			letter-spacing: 1px;
			margin: 20px 0;		
		}
	
		h5{
			font-size: $font-size-item-title;
			font-weight: normal;
		}
	
		ul {
			margin-left: $font-size-list-point;
	
			li {
				list-style: square;
				font-size: $font-size-list-point;
				margin-bottom: 50px;
	
				.experience-item {
					font-size: $font-size-item-title;
	
					img {
						float: right;
						width: 150px;
						// margin-right: 50px;
						margin: 0 50px 20px 20px;
					}
	
					.item-duration {
						font-size: $font-size-item-subtitle;
					}
	
					.item-description {
						font-size: $font-size-descr;
						margin-left: 30px;
						font-style: italic;
					}
				}
			}
		}
	
		p {
			text-align: justify;
			margin-bottom: 20px;
		}
	}
}

/***** ACHIEVEMENTS ****/

#achievements {
	h3 {
		color: $orange;
	}
	.achievement-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		$projectMargin: 100px;
		margin-bottom: -$projectMargin;
		.achievement-item {
			width: 40%;
			text-align: center;
			// padding: 30px;
			// border-radius: 5px;
			// background: $cream;
			// color: $black;
			margin-bottom: $projectMargin;
			h5 {
				color: $red;
				font-size: $font-size-project-title;
			}
			.item-team {
				color: $orange;
			}
			.item-description {
				// text-align: center;
				text-align: justify;
				font-style: italic;
				font-size: $font-size-descr;
				// margin: 20px 0 100px 0;
			}
		}
	}
}

/***** SKILLS ****/

#skills {
	// text-align: center;
	text-align: right;
	h5 {
		text-align: left;
	}

	.skill-wrapper {
		display: inline-block;
		margin-top: 10px;

		// font-size: $font-size-skill;
		// color: $black;
		// // border: solid 1px $black;
		// border: solid 1px $cream;
		// border-radius: 3px;
		// padding: 5px 10px;
		// background: $cream;
		.skill {
			font-size: $font-size-skill;
			color: $black;
			// border: solid 1px $black;
			border: solid 1px $cream;
			border-radius: 3px;
			padding: 5px 10px;
			background: $cream;
		}
		
		img {
			max-width: 30px;
			max-height: 30px;
			position: relative;
			$offset: 15px;
			left: -$offset;
			margin-right: -$offset;
		}
	}
}

/***** CONTACT ****/

#contact {
	background-color: $red;
	background-image: url("../img/photos/sugiton-filtered.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	a {
		color: $white;
	}

	.contentWrapper {
		// float: right;
		//  12vw 20px 20px;
		margin-left: 40vw;
		h5 {
			font-size: $font-size-catchphrase;
			font-family: "headline-font";
			margin-bottom: 2vw;
		}
	}
}

/***** FOOTER ****/

footer {
	// background-color: $red;
	padding: 20px;
	color: $white;
	text-align: center;
	margin-top: 100px; // Display background landscape image bigger
	#backToTop {
		width: 50px;
		margin-bottom: 20px;
		cursor: pointer;
	}
}

@media all and (max-width: 1279px){

	#contact {
		.contentWrapper {
			h5 {
				font-size: $font-size-project-title;
			}
		}
	}

}

@media all and (min-width: 680px) and (max-width: 1079px){

	// .arrow-wrapper {
	// 	width: 100%;
	// }

	nav{
		ul{
			width: 100%;
			li{
				font-size: $font-size-skill;
				letter-spacing: 1px;
				padding: 15px 10px 0 10px;
			}
		}
	}
	section {
		.content {
			padding: 50px;
		}
	}
	#contact {
		.contentWrapper {
			margin-left: 45vw;
		}
	}
	footer {
		margin-top: 0;
	}
}

@media all and (max-width: 679px){

	.open {
		top: -50px; // Height of the ul
	}

	nav{
		#nav-burger {
			display: block;
			position: relative;
			z-index: 2;
			top: 5px;
			left: 10px;
			width: 40px;
			cursor: pointer;
		}
	
		ul{
			width: 100%;
			display: flex;
			flex-direction: column;
			@include box-shadow;
			top: -657px; // Height of the cumulated li
			transition: top 0.5s;
			background: $red;
			li{
				font-size: $font-size-skill;
				letter-spacing: 1px;
				padding: 15px 10px 0 10px;
				&:hover {
					z-index: 1;
				}
			}
		}
	}

	header {
		margin: 100px 0;
		h1 {
			font-size: 30px;
		}
		h2 {
			font-size: 25px;
		}
	}

	section {
		.content {
			padding: 20px;
			h3{
				font-size: 30px;
				margin-bottom: 20px;
			}
		
			h4{}
		
			h5{
				font-size: $small-font-size-title;
			}

			ul {
				margin-left: $small-font-size-list-point;
				li {
					font-size: $small-font-size-list-point;
					.experience-item {
						img {
							width: 80px;
							margin: 4px 0 10px 10px;
						}
						.item-duration {
							font-size: $small-font-size-content;
						}
						.item-description {
							font-size: $small-font-size-descr;
							margin-left: 0;
						}
					}
				}
			}
			p {
				text-align: left;
				font-size: $small-font-size-content;
			}
		}
	}

	#achievements {
		h3 {
		}
		.achievement-list {
			justify-content: space-evenly;
			margin-bottom: 0;
			.achievement-item {
				width: 100%;
				margin-bottom: 0;
				h5 {
					font-size: 20px;
				}
				.item-team {
					font-size: $small-font-size-content;
				}
				.item-description {
					font-size: $small-font-size-descr;
					text-align: left;
				}
			}
		}
	}

	#skills {
		text-align: left;
		.skill-wrapper {
			display: flex;
			align-items: flex-start;
			.skill {
				font-size: $small-font-size-content;
			}
			img {
				max-width: 25px;
				max-height: 25px;
				left: 10px;
				margin-right: 0;
			}
		}
	}

	#contact {
		background-size: 150%;
		.contentWrapper {
			margin-left: 50vw;
			h5 {
				font-size: $font-size-item-title;
			}
		}
	}
	footer {
		margin-top: 0;
	}
}

@media all and (max-width: 479px){
	#contact {
		background-size: 180%;
		.contentWrapper {
			margin-left: 40vw;
			h5 {
				word-wrap: break-word;
			}
		}
	}
}

// TODO remove header margin top and bottom for mobile
// TODO make mobile responsive design
// TODO break down skills line per line for small resize
// TODO break down projects line per line for small resize
// TODO smallen experience logos for small resize
// TODO add padding for header for small resize
