---
interface Props {
	bgImage: string;
	class: string;
}

const { bgImage, class: classNames } = Astro.props;
---

<div style={{'--image-url': `url(${bgImage})`}} class={`flex-1 bg-[image:var(--image-url)] bg-cover rounded-lg shadow-[0_5px_8px_#14141499] ${classNames}`}>
	<div class="flex justify-center items-center bg-black/60 h-full w-full rounded-lg opacity-0 hover:opacity-100">
		<slot />
	</div>
</div>
