---
interface Props {
	bgImage: string;
}

const { bgImage } = Astro.props;
---

<div style={{'--image-url': `url(${bgImage})`}} class={`h-full bg-[image:var(--image-url)] bg-cover rounded shadow-[0_5px_8px_#14141499]`}>
	<div class="flex justify-center items-center bg-black/60 h-full w-full rounded transition duration-200 opacity-0 hover:opacity-100">
		<slot />
	</div>
</div>
