/***** RESET *****/
body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/***** COLORS ****/
/***** VALUES ****/
/***** FONTS *****/
@font-face {
  font-family: 'main-font';
  src: url("../../public/font/CenturyGothic.ttf");
}

@font-face {
  font-family: 'headline-font';
  src: url("../../public/font/LeagueGothic-Regular.otf");
}

/***** MIXINS ****/
.move {
  top: 0px;
  transition: top 0.7s ease-in-out;
}

.fade {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.unstabilize {
  opacity: 10;
}

.unstabilize-left {
  -webkit-animation: unstabilize-left 8s infinite ease-in-out;
  /* Safari 4.0 - 8.0 */
  animation: unstabilize-left 8s infinite ease-in-out;
}

.unstabilize-right {
  -webkit-animation: unstabilize-right 8s infinite ease-in-out;
  /* Safari 4.0 - 8.0 */
  animation: unstabilize-right 8s infinite ease-in-out;
}

@keyframes unstabilize-left {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    left: 0;
    opacity: 0;
  }
  6% {
    opacity: 0;
  }
  10% {
    left: 32.5%;
    opacity: 1;
  }
  50% {
    left: 32.5%;
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  55% {
    left: 65%;
    opacity: 0;
  }
  100% {
    left: 65%;
    opacity: 0;
  }
}

@keyframes unstabilize-right {
  0% {
    right: 0;
    opacity: 0;
  }
  25% {
    right: 0;
    opacity: 0;
  }
  26% {
    opacity: 0;
  }
  30% {
    right: 32.5%;
    opacity: 1;
  }
  50% {
    right: 32.5%;
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  55% {
    right: 65%;
    opacity: 0;
  }
  100% {
    right: 65%;
    opacity: 0;
  }
}

.shake {
  -webkit-animation: shake 8s infinite ease-in-out;
  animation: shake 8s infinite ease-in-out;
}

@keyframes shake {
  0%, 44%, 48%, 100% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(-4px, 3px, 0);
  }
  46% {
    transform: translate3d(2px, -1px, 0);
  }
  47% {
    transform: translate3d(-3px, 1px, 0);
  }
}

.scrollFade {
  opacity: 0;
  transform: translate(-20px, 0);
}

.scrollFadeIn {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.rotate {
  transform: rotate(360deg);
  transition: transform 0.2s ease-in-out;
}

/***** MAIN ****/
body {
  font-family: 'main-font';
  color: #1e1e1e;
}

#page-width {
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
  overflow: hidden !important;
}

/***** NAV ****/
nav {
  width: 100%;
  height: 50px;
  background-color: #AB3134;
  color: #ffffff;
  letter-spacing: 3px;
  position: fixed;
  top: -50px;
  z-index: 10;
  font-family: 'headline-font' !important;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

nav #nav-burger {
  display: none;
}

nav ul {
  width: 1080px;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

nav ul li {
  display: inline-block;
  width: auto;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav ul li:hover {
  -webkit-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
  cursor: pointer;
}

nav ul li:active {
  -webkit-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
  -moz-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
  box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
  cursor: pointer;
}

#top {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/***** HEADER ****/
header {
  margin-bottom: 300px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'headline-font';
  letter-spacing: 4px;
  margin-top: 280px;
}

header .red-bar-top, header .red-bar-bottom {
  width: 35%;
  position: absolute;
  opacity: 0;
}

header .red-bar-top {
  border-bottom: solid #AB3134 5px;
  left: 0;
}

header .red-bar-bottom {
  border-top: solid #AB3134 5px;
  right: 0;
}

header h1 {
  font-size: 3.6em;
  padding-top: 20px;
}

header h2 {
  font-size: 2.8em;
  margin-bottom: 18px;
}

/***** SECTION TRANSITION ****/
.arrow {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -1px;
  height: 50px;
}

.arrow.arrow-red {
  background-image: url("../img/arrow-red.svg");
}

.arrow.arrow-orange {
  background-image: url("../img/arrow-orange.svg");
}

.arrow.arrow-white {
  background-image: url("../img/arrow-white.svg");
}

.arrow.arrow-black {
  background-image: url("../img/arrow-black.svg");
}

/***** CONTENT ****/
.red {
  background-color: #AB3134;
  color: #f2f2f2;
}

.red li {
  color: #e58141;
}

.red li .experience-item {
  color: #f2f2f2;
}

.red li .experience-item .item-title, .red li .experience-item .key-word {
  color: #e58141;
}

.white {
  background-color: #ffffff;
}

.white li {
  color: #AB3134;
}

.white li .experience-item {
  color: #1e1e1e;
}

.white li .experience-item .item-title, .white li .experience-item .key-word {
  color: #AB3134;
}

.black {
  background-color: #1e1e1e;
  color: #f2f2f2;
}

.black .achievement-item {
  color: #f2f2f2;
}

.black .achievement-item .item-title, .black .achievement-item .key-word {
  color: #AB3134;
}

.alpha {
  background-color: transparent;
}

.alpha li {
  color: #AB3134;
}

.alpha li .experience-item {
  color: #1e1e1e;
}

.alpha li .experience-item .item-title, .alpha li .experience-item .key-word {
  color: #ffffff;
}

section .content {
  padding: 80px 20vw;
}

section .content h3 {
  font-family: 'headline-font';
  text-transform: uppercase;
  font-size: 3em;
  margin: -40px 0 40px 0;
  text-align: left;
}

section .content h4 {
  font-family: 'headline-font';
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 0;
}

section .content h5 {
  font-size: 22px;
  font-weight: normal;
}

section .content ul {
  margin-left: 30px;
}

section .content ul li {
  list-style: square;
  font-size: 30px;
  margin-bottom: 50px;
}

section .content ul li .experience-item {
  font-size: 22px;
}

section .content ul li .experience-item img {
  float: right;
  max-height: 70px;
  max-width: 150px;
  margin: 0 50px 20px 20px;
}

section .content ul li .experience-item .item-duration {
  font-size: 17px;
}

section .content ul li .experience-item .item-description {
  font-size: 14px;
  margin-left: 30px;
  font-style: italic;
}

section .content p {
  text-align: justify;
  margin-bottom: 20px;
}

/***** ACHIEVEMENTS ****/
#achievements h3 {
  color: #e58141;
}

#achievements .achievement-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: -100px;
}

#achievements .achievement-list .achievement-item {
  width: 40%;
  text-align: center;
  margin-bottom: 100px;
}

#achievements .achievement-list .achievement-item h5 {
  color: #AB3134;
  font-size: 32px;
}

#achievements .achievement-list .achievement-item .item-team {
  color: #e58141;
}

#achievements .achievement-list .achievement-item .item-description {
  text-align: justify;
  font-style: italic;
  font-size: 14px;
}

/***** SKILLS ****/
#skills {
  text-align: right;
}

#skills h5 {
  text-align: left;
}

#skills .skill-wrapper {
  display: inline-block;
  margin-top: 10px;
  top: 0;
  position: relative;
  transition: top ease-in-out 0.2s;
}

#skills .skill-wrapper:hover {
  top: -10px;
}

#skills .skill-wrapper .skill {
  font-size: 15px;
  color: #1e1e1e;
  border: solid 1px #f2f2f2;
  border-radius: 3px;
  padding: 5px 10px;
  background: #f2f2f2;
  transition: box-shadow ease-in-out 0.2s;
}

#skills .skill-wrapper .skill:hover {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

#skills .skill-wrapper img {
  max-width: 30px;
  max-height: 30px;
  position: relative;
  left: -15px;
  margin-right: -15px;
}

/***** CONTACT ****/
#contact {
  background-color: #AB3134;
  background-image: url("../img/photos/sugiton-filtered.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact a {
  color: #ffffff;
}

#contact .contentWrapper {
  margin-left: 40vw;
}

#contact .contentWrapper h5 {
  font-size: 50px;
  font-family: "headline-font";
  margin-bottom: 2vw;
}

/***** FOOTER ****/
footer {
  padding: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}

footer #backToTop {
  width: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media all and (max-width: 1279px) {
  #contact .contentWrapper h5 {
    font-size: 32px;
  }
}

@media all and (min-width: 680px) and (max-width: 1079px) {
  nav ul {
    width: 100%;
  }
  nav ul li {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 15px 10px 0 10px;
  }
  section .content {
    padding: 50px;
  }
  #contact .contentWrapper {
    margin-left: 45vw;
  }
  footer {
    margin-top: 0;
  }
}

@media all and (max-width: 679px) {
  .open {
    top: -40px;
  }
  nav #nav-burger {
    display: block;
    position: relative;
    z-index: 2;
    top: 5px;
    left: 10px;
    width: 40px;
    cursor: pointer;
  }
  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    top: -300px;
    transition: top 0.5s;
    background: #AB3134;
  }
  nav ul li {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 8px;
    height: auto;
  }
  nav ul li:hover {
    z-index: 1;
  }
  header {
    margin: 100px 0;
  }
  header h1 {
    font-size: 30px;
  }
  header h2 {
    font-size: 25px;
  }
  section .content {
    padding: 20px;
  }
  section .content h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  section .content h5 {
    font-size: 16px;
  }
  section .content h5 .avoidwrap {
    display: inline-block;
  }
  section .content ul {
    margin-left: 18px;
  }
  section .content ul li {
    font-size: 18px;
  }
  section .content ul li .experience-item img {
    max-height: 50px;
    max-width: 80px;
    margin: 4px 0 10px 10px;
  }
  section .content ul li .experience-item .item-duration {
    font-size: 14px;
  }
  section .content ul li .experience-item .item-description {
    font-size: 12px;
    margin-left: 0;
  }
  section .content p {
    text-align: left;
    font-size: 14px;
  }
  #achievements .achievement-list {
    justify-content: space-evenly;
    margin-bottom: 0;
  }
  #achievements .achievement-list .achievement-item {
    width: 100%;
    margin-bottom: 0;
  }
  #achievements .achievement-list .achievement-item h5 {
    font-size: 20px;
  }
  #achievements .achievement-list .achievement-item .item-team {
    font-size: 14px;
  }
  #achievements .achievement-list .achievement-item .item-description {
    font-size: 12px;
    text-align: left;
  }
  #skills {
    text-align: left;
  }
  #skills .skill-wrapper {
    display: flex;
    align-items: flex-start;
  }
  #skills .skill-wrapper .skill {
    font-size: 14px;
  }
  #skills .skill-wrapper img {
    max-width: 25px;
    max-height: 25px;
    left: 10px;
    margin-right: 0;
  }
  #contact {
    background-size: 150%;
  }
  #contact .contentWrapper {
    margin-left: 50vw;
  }
  #contact .contentWrapper h5 {
    font-size: 22px;
  }
  footer {
    margin-top: 0;
  }
}

@media all and (max-width: 479px) {
  #contact {
    background-size: 180%;
  }
  #contact .contentWrapper {
    margin-left: 50vw;
  }
  #contact .contentWrapper h5 {
    word-wrap: break-word;
  }
}
