/***** RESET *****/
body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/***** COLORS ****/
/***** VALUES ****/
/***** FONTS *****/
@font-face {
  font-family: 'main-font';
  src: url("../../public/font/CenturyGothic.ttf");
}

@font-face {
  font-family: 'headline-font';
  src: url("../../public/font/LeagueGothic-Regular.otf");
}

/***** MIXINS ****/
.move {
  top: 0px;
  transition: top 0.7s ease-in-out;
}

.fade {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.unstabilize {
  opacity: 10;
}

.unstabilize-left {
  -webkit-animation: unstabilize-left 8s infinite ease-in-out;
  /* Safari 4.0 - 8.0 */
  animation: unstabilize-left 8s infinite ease-in-out;
}

.unstabilize-right {
  -webkit-animation: unstabilize-right 8s infinite ease-in-out;
  /* Safari 4.0 - 8.0 */
  animation: unstabilize-right 8s infinite ease-in-out;
}

@keyframes unstabilize-left {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    left: 0;
    opacity: 0;
  }
  6% {
    opacity: 0;
  }
  10% {
    left: 30%;
    opacity: 1;
  }
  50% {
    left: 30%;
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  55% {
    left: 60%;
    opacity: 0;
  }
  100% {
    left: 60%;
    opacity: 0;
  }
}

@keyframes unstabilize-right {
  0% {
    right: 0;
    opacity: 0;
  }
  25% {
    right: 0;
    opacity: 0;
  }
  26% {
    opacity: 0;
  }
  30% {
    right: 30%;
    opacity: 1;
  }
  50% {
    right: 30%;
    opacity: 1;
  }
  54% {
    opacity: 0;
  }
  55% {
    right: 60%;
    opacity: 0;
  }
  100% {
    right: 60%;
    opacity: 0;
  }
}

.shake {
  -webkit-animation: shake 8s infinite ease-in-out;
  animation: shake 8s infinite ease-in-out;
}

@keyframes shake {
  0%, 44%, 48%, 100% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(-4px, 3px, 0);
  }
  46% {
    transform: translate3d(2px, -1px, 0);
  }
  47% {
    transform: translate3d(-3px, 1px, 0);
  }
}

/***** MAIN ****/
body {
  font-family: 'main-font';
  color: #1e1e1e;
}

#page-width {
  width: 1080px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
  overflow: hidden !important;
}

/***** NAV ****/
nav {
  width: 100%;
  height: 50px;
  background-color: #AB3134;
  color: #ffffff;
  letter-spacing: 3px;
  position: fixed;
  top: -50px;
  z-index: 10;
  font-family: 'headline-font' !important;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

nav ul {
  width: 1080px;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

nav ul li {
  display: inline-block;
  width: auto;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav ul li:hover {
  -webkit-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75);
  cursor: pointer;
}

nav ul li:active {
  -webkit-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
  -moz-box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
  box-shadow: 0px 6px 30px 0 rgba(50, 50, 50, 0.75) inset;
  cursor: pointer;
}

#home {
  padding-bottom: 280px;
}

/***** HEADER ****/
header {
  margin-bottom: 300px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'headline-font';
  letter-spacing: 4px;
  margin-top: 280px;
}

header .red-bar-top, header .red-bar-bottom {
  width: 40%;
  position: absolute;
  opacity: 0;
}

header .red-bar-top {
  border-bottom: solid #AB3134 5px;
  left: 0;
}

header .red-bar-bottom {
  border-top: solid #AB3134 5px;
  right: 0;
}

header h1 {
  font-size: 3em;
  padding-top: 20px;
}

header h2 {
  font-size: 2.2em;
  margin-bottom: 18px;
}

/***** SECTION TRANSITION ****/
.arrow-wrap-red {
  background-color: transparent;
  clear: both;
}

.arrow-wrap-red .arrow-red {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: transparent #AB3134 #AB3134 #AB3134;
}

.arrow-wrap-red .arrow-red-from-black {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: #1e1e1e #AB3134 #AB3134 #AB3134;
}

.arrow-wrap-red .arrow-red-from-orange {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: #e58141 #AB3134 #AB3134 #AB3134;
}

.arrow-wrap-white {
  background-color: #ffffff;
  clear: both;
}

.arrow-wrap-white .arrow-white {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: #AB3134 transparent transparent transparent;
}

.arrow-wrap-white .arrow-white-from-black {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: #1e1e1e transparent transparent transparent;
}

.arrow-wrap-black {
  background-color: #1e1e1e;
  clear: both;
}

.arrow-wrap-black .arrow-black {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: #AB3134 transparent transparent transparent;
}

.arrow-wrap-black .arrow-black-from-white {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: #ffffff transparent transparent transparent;
}

.arrow-wrap-orange {
  background-color: #e58141;
  clear: both;
}

.arrow-wrap-orange .arrow-orange {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: #AB3134 transparent transparent transparent;
}

.arrow-wrap-orange .arrow-orange-from-black {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 280px 0 800px;
  border-color: #1e1e1e transparent transparent transparent;
}

/***** CONTENT ****/
.red {
  background-color: #AB3134;
  color: #f2f2f2;
}

.red li {
  color: #e58141;
}

.red li .experience-item {
  color: #f2f2f2;
}

.red li .experience-item .item-title, .red li .experience-item .key-word {
  color: #e58141;
}

.white {
  background-color: #ffffff;
}

.white li {
  color: #AB3134;
}

.white li .experience-item {
  color: #1e1e1e;
}

.white li .experience-item .item-title, .white li .experience-item .key-word {
  color: #AB3134;
}

.black {
  background-color: #1e1e1e;
  color: #f2f2f2;
}

.black .achievement-item {
  color: #f2f2f2;
}

.black .achievement-item .item-title, .black .achievement-item .key-word {
  color: #AB3134;
}

section {
  padding: 50px 50px;
  position: relative;
  clear: both;
}

section h3 {
  font-family: 'headline-font';
  text-transform: uppercase;
  font-size: 3em;
  margin: -40px 0 40px 0;
  text-align: left;
}

section h4 {
  font-family: 'headline-font';
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 0;
}

section h5 {
  font-size: 22px;
  font-weight: normal;
}

section ul {
  margin-left: 30px;
}

section ul li {
  list-style: square;
  font-size: 30px;
  margin-bottom: 40px;
}

section ul li .experience-item {
  font-size: 22px;
}

section ul li .experience-item .item-duration {
  font-size: 17px;
}

section ul li .experience-item .item-description {
  font-size: 14px;
  margin-left: 30px;
  font-style: italic;
}

section p {
  text-align: justify;
  margin-bottom: 20px;
}

/***** ACHIEVEMENTS ****/
#achievements h3 {
  color: #e58141;
}

#achievements .achievement-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: -100px;
}

#achievements .achievement-list .achievement-item {
  width: 40%;
  text-align: center;
  margin-bottom: 100px;
}

#achievements .achievement-list .achievement-item h5 {
  color: #AB3134;
  font-size: 32px;
}

#achievements .achievement-list .achievement-item .item-team {
  color: #e58141;
}

#achievements .achievement-list .achievement-item .item-description {
  text-align: justify;
  font-style: italic;
  font-size: 14px;
}

/***** SKILLS ****/
#skills {
  text-align: center;
}

#skills h5 {
  text-align: left;
}

#skills .skill {
  font-size: 15px;
  color: #1e1e1e;
  border: solid 1px #f2f2f2;
  border-radius: 3px;
  padding: 5px 10px;
  background: #f2f2f2;
}

/***** CONTACT ****/
#contact #eye {
  float: right;
  width: 200px;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  border-radius: 40%;
  margin-top: -40px;
}

#contact a {
  color: #AB3134;
}

/***** FOOTER ****/
footer {
  background-color: #AB3134;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

footer #backToTop {
  width: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}
