.shake {
    -webkit-animation: shake 8s infinite ease-in-out;
    animation: shake 8s infinite ease-in-out;
}

@keyframes shake {
    0%, 44%, 48%, 100%{transform: translate3d(0, 0, 0);}

    45%{transform: translate3d(-4px, 3px, 0);}
    46%{transform: translate3d(2px, -1px, 0);}
    47%{transform: translate3d(-3px, 1px, 0);}
}
