.unstablize {
    opacity: 10;
}

.unstablize-left {
    -webkit-animation: unstablize-left 8s infinite ease-in-out; /* Safari 4.0 - 8.0 */
    animation: unstablize-left 8s infinite ease-in-out;
}

.unstablize-right {
    -webkit-animation: unstablize-right 8s infinite ease-in-out; /* Safari 4.0 - 8.0 */
    animation: unstablize-right 8s infinite ease-in-out;
}

@keyframes unstablize-left {
    0% {left: 0; opacity: 0;}
    5% {left: 0; opacity: 0;}
    6% {opacity: 0;}
    
    10% {left: 0.5 * (100% - $barWidth); opacity: 1;}
    50% {left: 0.5 * (100% - $barWidth); opacity: 1;}
    
    54% {opacity: 0;}
    55% {left: 100% - $barWidth; opacity: 0;}
    100% {left: 100% - $barWidth; opacity: 0;}
}

@keyframes unstablize-right {
    0% {right: 0; opacity: 0;}
    25% {right: 0; opacity: 0;}
    26% {opacity: 0;}
    
    30% {right: 0.5 * (100% - $barWidth); opacity: 1;}
    50% {right: 0.5 * (100% - $barWidth); opacity: 1;}
    
    54% {opacity: 0;}
    55% {right: 100% - $barWidth; opacity: 0;}
    100% {right: 100% - $barWidth; opacity: 0;}
}
